/**
 * Colors
 * -------------------------------------------------------
 */
$bg-color: #f8f8f8;
$link-color: #c00;


/**
 * Fonts
 * -------------------------------------------------------
 */
$font-family: "Open Sans", sans-serif;
$font-size: 14px;
$font: $font-size $font-family;
$font-color: #676767;

/**
 * Globals
 * -------------------------------------------------------
 */
$gutter: 10px;
$site-width: 800px;
