#add-entry-container {
    padding: 30px 0;

    #input-body {
        min-height: 100px;
    }

    .buttons {
        text-align: right;
    }
}

#entries {
    .entry {
        margin: 0 0 40px 0;
        border: solid 1px #ddd;
        background-color: #fff;
        padding: 10px;

        &[class*="level-"] {
            margin-left: 50px;
        }

        &.level-0 {
            margin-left: 0;
        }

        &.level-1 {
            margin-left: 25px;
        }

        .deleted {
            font-style: italic;
            color: #888;
        }
    }

    .meta {
        padding-bottom: 5px;
        border-bottom: solid 1px #eee;
        font-size: 0.9em;
        margin-bottom: 10px;

        .name {
            font-weight: 700;
        }

        .date {
            font-style: italic;
        }
    }

    .body {
        margin-bottom: 10px;

        .reply {
            font-style: italic;
            margin-bottom: 10px;
            font-size: 0.8;
            color: #aaa;
        }
    }

    .actions {
        display: flex;
        justify-content: flex-end;

        a {
            margin-left: 15px;

            .icon {
                margin-right: 3px;
            }
        }
    }
}
